<!DOCTYPE html>
<html>
  <head>
    <title>Interview</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

  	<!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	  	<div class="navbar-brand">Highlands Interview</div>
	    <div class="collapse navbar-collapse" id="navbarCollapse">
	    	<ul class="navbar-nav mr-auto">
	        	<li class="nav-item active">
	          		<%= link_to 'Create New Product', "/products/new", class: "nav-link", style: 'color:#FFFFFF;' %> 
	        	</li>
	        	<li class="nav-item">
	          		<%= link_to 'List/Search Products', "/products", class: "nav-link", style: 'color:#FFFFFF;' %> 
	        	</li>
	      </ul>
	      <span class="navbar-text">
     		 	Username
    	  </span>
	    </div>
  </nav>

  	<div class="container" ID="header">

	  	<!-- Project Header -->
	  	<div class="container text-center">
	      	<div class="row">
				<div class="col-md-12">
					<h1>Product Management Tool</h1>
				</div>
			</div>
		</div>

	    <%= yield %>

	    <!-- Project Footer -->
	    <div class="container fixed-bottom text-center">
	      	<div class="row" style="padding-bottom: 30px;">
				<div class="col-md-12">
		        	<span class="text">By: Stephen Lavett -- Highlands Interview Project</span>
		      	</div>
	    	</div>
		</div>

	</div>

  </body>

</html>
